{% extends 'layout.html' %}

{% block title %}
   Collection of my lyrics
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for post in post_list %}
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <div class="thumbnail">
                             <a href="{% url 'miniblog.views.detail' post.pk %}">
                                 <img src="http://lorempixel.com/400/200/abstract/" class="img-rounded" />
                                 <div class="caption" style="text-align: center">
                                     {{ post.title }}
                                 </div>
                             </a>
                        </div>
                    </div>
            {% endfor %}
         </div>
    </div>
{% endblock %}

